<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-03-26T17:43:21Z</date>
	<key>WorkspacePath</key>
	<string>/Users/ambujpunn/dev/iOS/Next Reality/NextReality_PlaneHitTest/NextReality_PlaneHitTest.xcodeproj</string>
</dict>
</plist>
